[submodule "GetFunkin.AdobeNecromancer"]
	path = GetFunkin.AdobeNecromancer
	url = https://github.com/GetFunkin/GetFunkin.AdobeNecromancer.git
[submodule "osu-framework"]
	path = osu-framework
	url = git@github.com:GetFunkin/osu-framework.git
